.user{
    border: red solid 2px;
    width:400px;
    margin: 10px auto;
    padding:10px;
}
.avaAndFollow{
    width: 45%;
    display: inline-block;
}
.userInfo{
    width: 45%;
display: inline-block;
}
.activePage{
    font-weight: bold;
}
.avaAndFollow img{
    width:100px
}