
.wrapper {
    display: grid;
    width: 80%;
    margin: 0 auto;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 2fr 10fr;

    grid-template-areas: 'h h' 'n c';

    grid-gap: 10px;
}

.content {
    height: 720px;
    grid-area: c;
    background-image: url("https://sun9-17.userapi.com/impg/oE-eACt8wzXtO2for-nMg5RJo0sdNOh25A2OpA/gYtpNmcTNDM.jpg?size=2560x1696&quality=96&sign=2c27eb580879bd0ad6c97b1eebf755ac&type=album");
    background-size: contain;
    background-repeat: no-repeat;
}
