.dialogs{
    display : grid;
    grid-template-columns: 2fr 10fr;
}
.dialog{
    border: 2px solid red;
    margin: 5px;
    padding: 5px;
    text-align:center;
}
.dialog a.activeLink{
    color: darkgreen;
}
.dialogItems a{
text-decoration: none;
    font-size: 25px;
    color: brown;
}
.messages{

}
.message{

}